<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Dan Nam | Cart </title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="./images/logo.png" width="125px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Account</a></li>

                </ul>
            </nav>
            <img src="images/cart.png" width="30px" class="cart">
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>


    <div class="small-container">
        <h1 class="h1-payment">Billing Address</h1>

        <form>
            <label>Full name: </label><input type="text" placeholder="Enter you full name"><br />
            <label>Phone: </label> <input type="tel"><br />
            <label for="address">Address: </label><input type="text" id="address"><br />
            <form>
                <p>Payment option:</p>
                <input type="radio" name="pay" value="VISA" id=>
                <label for="visa">VISA</label><br />
                <input type="radio" name="pay" value="COD">
                <label for="cod">Cash on delivery</label><br />
                <input type="radio" name="pay" value="Debit Card">
                <label for="debit">Debit Card</label>

            </form>
            <button type="submit">Order</button>
        </form>
    </div>










    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>
                        Download our app
                    </h3>
                    <p>Download App for Android and IOS mobile phone</p>
                    <div class="app-logo">
                        <img src="images/app-store.png" alt="">
                        <img src="images/play-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="images/logo-white.png" alt="">
                    <p>I alone decide my fate. Kill me, you can try</p>
                </div>
                <div class="footer-col-3">
                    <h3>
                        Useful links
                    </h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>
                        Follow us
                    </h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p>Copy right 2020 - MIT License</p>
        </div>
    </div>

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px")
                MenuItems.style.maxHeight = "200px";
            else
                MenuItems.style.maxHeight = "0px";
        }
    </script>

</body>

</html>